<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QCM_ENI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>accueil</display-name>
    <servlet-name>accueil</servlet-name>
    <servlet-class>fr.eni.servlets.accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accueil</servlet-name>
    <url-pattern>/admin/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>fr.eni.servlets.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>fr.eni.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>fr.eni.servlets.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gestionFormation</display-name>
    <servlet-name>gestionFormation</servlet-name>
    <servlet-class>fr.eni.servlets.gestionFormation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestionFormation</servlet-name>
    <url-pattern>/admin/gestionFormation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gestionClasse</display-name>
    <servlet-name>gestionClasse</servlet-name>
    <servlet-class>fr.eni.servlets.gestionClasse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestionClasse</servlet-name>
    <url-pattern>/admin/gestionClasse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewFormation</display-name>
    <servlet-name>viewFormation</servlet-name>
    <servlet-class>fr.eni.servlets.viewFormation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewFormation</servlet-name>
    <url-pattern>/admin/viewFormation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewTheme</display-name>
    <servlet-name>viewTheme</servlet-name>
    <servlet-class>fr.eni.servlets.viewTheme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewTheme</servlet-name>
    <url-pattern>/admin/viewTheme</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>gestionTheme</display-name>
    <servlet-name>gestionTheme</servlet-name>
    <servlet-class>fr.eni.servlets.gestionTheme</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestionTheme</servlet-name>
    <url-pattern>/admin/gestionTheme</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>viewQuestion</display-name>
    <servlet-name>viewQuestion</servlet-name>
    <servlet-class>fr.eni.servlets.viewQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewQuestion</servlet-name>
    <url-pattern>/admin/viewQuestion</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>gestionQuestion</display-name>
    <servlet-name>gestionQuestion</servlet-name>
    <servlet-class>fr.eni.servlets.gestionQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestionQuestion</servlet-name>
    <url-pattern>/admin/gestionQuestion</url-pattern>
  </servlet-mapping>
</web-app>
